@use "../helpers/colors" as *;
@use "../helpers/breakpoints" as *;
@use "../base/typography" as *;
@use "../components/button" as *;
@use "../components/content" as *;
@use "../components/spacer" as *;

header{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-image: url(../../assets/images/cubicom_header_back.png);
    background-size: cover;
    background-position: center center;

    &::after{
        content: "";
        height: 20vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, #15141D 29.17%, rgba(21, 20, 29, 0.00) 100%);
    }

    &.contact{
        min-height: unset;
        background-image: unset;
        background-size: cover;
        background-position: center center;

        &::after{
            display: none;
            
        }
    }

    &.projects{
        min-height: 60vh;
    }

    & .container{
        width: 100%;
        display: flex;
        justify-content: center;

        .container-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-inline: auto;
            width: fit-content;
            padding-top: 80px;

            .title{
                font-size: max(3em, 14vw);
                font-family: $Regular;
                color: $white;
                font-weight: 900;
                line-height: 0.85;
                position: relative;

                pointer-events: none;

                
                &:first-child{
                    font-variation-settings: 'wdth' 150;
                }
                &:nth-child(2)::after{
                    content: "";
                    width: max(2.2em, 10vw);
                    height: max(20px, 3.5vw);
                    background-color: #FFFFFF;
                    right: -43%;
                    position: absolute;
                    transform: translate(50%, -50%);
                    top: 50%;
                }
                
                &.stroke{
                    // -webkit-text-stroke-color: $white;
                    // -webkit-text-stroke-width: 3px;
                    color: $purple;
                    
                }
            }
        }

        .contact{
            .title{
                font-size: max(3em, 8vw);
                &:nth-child(2)::after{
                    content: "";
                    width: max(3.7em, 10vw);
                    height: max(20px, 3.5vw);
                    background-color: #FFFFFF;
                    left: 17%;
                    position: absolute;
                    transform: translate(50%, -50%);
                    top: 50%;
                    }
            }
        }

        .projects{
            .title{
                font-size: max(3em, 8vw);
                &:nth-child(1)::after{
                    content: "";
                    width: max(3em, 10vw);
                    height: max(20px, 3.5vw);
                    background-color: #FFFFFF;
                    left: 50%;
                    position: absolute;
                    transform: translate(50%, -50%);
                    top: 50%;
                }
                &:nth-child(2)::after{
                    display: none;
                }
            }
        }
        
    }
     
}